.body{
  background-image: url("0.jpeg");
}  
.row-header{
  margin:0px auto;
  padding:0px auto;
}
.bo{
 
  background-image: url("http://mdbootstrap.com/img/Photos/Others/images/91.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: auto;
  width: auto;

}
.NAVI{
color: #0f0f0f;
}
.hello{
background-image: linear-gradient(to right,rgb(238, 197, 197),rgba(106, 181, 185, 0.562));
}
.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-image:linear-gradient(to right,rgb(237, 238, 197),rgba(106, 181, 185, 0.562)) ;
  height:auto;
  width: auto;

}
.jumbotron {
  background-image: url("5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 250px;
  width: auto;
  color:rgb(233, 158, 7);
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.navbar-dark {
  background-image:linear-gradient(to right,rgba(178, 201, 230, 0.651),rgba(76, 62, 80, 0.562)) ;
}

.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-in;
}

.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ms ease-out;
}

.card:hover{
  -webkit-box-shadow: 33px 32px 21px 0px rgba(0,0,0,0.39);
  -moz-box-shadow: 33px 32px 21px 0px rgba(0,0,0,0.39);
  box-shadow: 33px 32px 21px 0px rgba(0,0,0,0.39);
}

.card {
  
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.1s;
  will-change: transform;
  border: 15px solid white;
}