  
.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-image:linear-gradient(to right,rgb(238, 197, 197),rgba(106, 181, 185, 0.562)) ;
  margin:0px auto;
  padding: 20px;
}
.jumbotron {
  padding:25px;
  margin:0px auto;
  background-image:linear-gradient(to right,rgb(238, 197, 197),rgba(106, 181, 185, 0.562)) ;
  color:floralwhite;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.navbar-dark {
  background-image:linear-gradient(to right,rgba(178, 201, 230, 0.651),rgba(76, 62, 80, 0.562)) ;
}

.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-in;
}

.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ms ease-out;
}